* {
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.controls {
  margin-bottom: 20px;
}

.controls label {
  margin-right: 10px;
}

.kanban-board {
  display: flex;
  justify-content: space-around;
  overflow: auto;
  scrollbar-width: none;
}

.kanban-board::-webkit-scrollbar {
  display: none;
}

.kanban-header {
  width: 300px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-weight: 600;
  font-size: small;
}

.kanban-title {
  display: flex; 
  align-items: center;
  gap: 10px;
}

.kanban-title img {
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
}

.kanban-column-count {
  font-weight: 300;
}