@import url("https://fonts.cdnfonts.com/css/general-sans");

* {
  margin: 0;
  padding: 0; 
  font-family: 'General Sans', sans-serif;
  user-select: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
